:root {
    --my-primary: rgba(185, 20, 80, 1);
}

.bg_my_primary {
    background-color: var(--my-primary);
}

.text_my_primary {
    color: var(--my-primary);
}

label {
    color: var(--my-primary);
}

input, select {
    border: 2px solid var(--my-primary);
}

.nome_pass {
    background-color: grey;
}