:root {
    --my-primary: rgba(185, 20, 80, 1);
}

.bg_my_primary {
    background-color: var(--my-primary);
}

.bg_my_secondary {
    background-color: grey !important;
}

.text_my_primary,
label {
    color: var(--my-primary);
}

input,
select {
    border: 2px solid var(--my-primary);
}

button:hover {
    color: var(--my-primary) !important;
    border: 2px solid orange !important;
}

button:active {
    scale: 0.9;
}